<div class="timeline-container">
	<div class="btn-group-vertical timeline-control timeline-control-left" role="group">
		<div class="btn btn-primary btn-left"><i class="glyphicon glyphicon-triangle-left"></i></div>
		<div class="btn btn-primary btn-left-year"><i class="glyphicon glyphicon-backward"></i></div>
	</div>
	<div class="timeline timeline-animation" ng-style="style">
		<div class='timeline-item' ng-repeat="node in nodes" ng-class="{'item-active':$last}">
			<div ng-if="node.type === 'node'">
				{{ node.date | date:format? format: 'yyyy-MM-dd' }}
			</div>
			<div ng-if="node.type === 'info'">
				{{ node.info }}
			</div>
		</div>
	</div>
	<div class="timeline-control timeline-control-right btn-group-vertical" role="group">
		<div class="btn btn-primary btn-right"><i class="glyphicon glyphicon-triangle-right"></i></div>
		<div class="btn btn-primary btn-right-year"><i class="glyphicon glyphicon-forward"></i></div>
	</div>
</div>